.container {
    /* outline: 1px solid white; */
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3,1fr);
    gap:2px;
    column-gap: 10px;
    grid-auto-flow: row;
    border-top: 1px solid var(--darkreader-neutral-text);
    padding: 10px;
}

.date {
    grid-area: 1 / 1 / -1 / 2;
    align-self: center;
    text-decoration: solid;
    font-size:medium;
}